.outside-header {
  padding: 5px;
}

.inside-header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 1px;
  gap: 5px;
}

h1, h2, h3 {
  padding: 1px 0 1px 5px;
  margin: 1px;
}

h1 {
  flex: none; // equivalent to 0 0 auto
  text-align: left;
  font-size: clamp(20px, 2vw, 35px);
}

.selected-node-title,
.selected-node-hiddenChildrenAlert {
  flex-shrink: 1;   // allow shrinking
  min-width: 0;     // needed for ellipsis
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: clamp(17px, 2vw, 30px);
}

.selected-node-title {
  color: #000;
}

.selected-node-hiddenChildrenAlert {
  color: #f00;
}

img {
  width: clamp(30px, 2vw, 40px);
  height: clamp(30px, 2vw, 40px);
  object-fit: contain;
  margin: 1px;
  padding: 1px;
  transition: transform 0.2s ease;
  transform-origin: center center;
}

.menuButton {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-left: auto; // pushes this container to the right
  padding: 0;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 1px 5px;
  background-color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  user-select: none;
  outline: none;
  transition: transform 0.2s ease, border-color 0.2s ease;

  &:hover,
  &:hover img {
    transform: scale(1.07);
    border-color: rgb(143, 143, 143);
  }

  &:active {
    transform: scale(1);
    border-color: rgb(143, 143, 143);
    transition: none;

    img {
      transform: scale(1);
      background-color: transparent;
      box-shadow: none;
    }
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}
