 .context-menu{
  position: fixed;
 }

 .context-menu-visibility  { 
position: absolute;
 }
 
 .context-menu ,
 .context-menu-visibility  { 
  background: white;
  color: black ;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  z-index: +3 !important;
  font-size: 0.8rem; 

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding: 8px 10px;
    //padding-top: 6px;
    cursor: pointer;
    border-top: 1px solid rgb(0, 0, 0, 0.1)
  }

  li:hover:not(.unclickable) {
    background-color: #eee;
  }

  .li-flex{
    width: 100%;
    box-sizing: border-box; /* include padding in width */
    display: flex;
    align-items: center;
    gap: 4px;
    
    .li-title{
      flex: 0 0 auto;
      margin-right: 4px;
    }

    .color-picker{
      flex: 1 1 auto;
      padding: 0px;
      max-width: 50%;
      max-height: 25px;
      border: none;
      margin-top: -5px; //necessary so that this button dotn appear thicker than others
      margin-bottom: -5px;
    }

    .nb-input{
      flex: 1 1 auto;
      max-width: 25%;
      max-height: 25px;
      padding: 0px;
      font-size: 0.8rem;
    }

    .opacity-picker-displayer-container{
      flex: 1 1 auto;
      position: relative;
      display: flex;
      align-items: center;
      .opacity-picker{
        margin: 0;
      }
    }
  }
}

.locked {
  filter: brightness(80%);
}


.popup-tree {
  position: absolute;
  width: 200px;        /* Fixed width */
  height: 300px;       /* Fixed height */
  max-width: 100vw;    /* Don't exceed viewport */
  max-height: 80vh;
  background: white;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  z-index: 5;
  padding: 10px;
  display: flex;
  flex-direction: column;

  .close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.2em;
    background: #000000;
    color: white;
    border: none;
    width: 24px;
    height: 24px;
    //border-radius: 50%;
    cursor: pointer;
  }
  
  .tree-txt {
    flex: 1;             /* Take all available space */
    overflow: auto;      /* Scrollbars when needed */
    white-space: pre;    /* Preserve \n and spaces */
    color: black;
    font-family: monospace;
    line-height: 1.4;
  }
}





