.context-menu {
  position: fixed;
  background: white;
  color: black ;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  z-index: +3 !important;
  width: 200px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding: 8px 12px;
    cursor: pointer;
  }

  li:hover {
    background-color: #eee;
  }
  .color-picker{
    max-width: 30%;
  }

  .li-flex{
    width: 100%;
    box-sizing: border-box; /* include padding in width */
    display: flex;
    align-items: center;
    
    .li-title{
      flex: 0 0 auto;
      margin-right: 2px;
    }

    .color-picker{
      flex: 1 1 auto;
    }
    .opacity-picker-displayer-container{
      flex: 1 1 auto;
      position: relative;
      display: flex;
      align-items: center;
      .opacity-picker{
        margin: 0;
      }

      .opacity-displayer{
        position: absolute;    /* overlay the slider */
        top: 50%;             /* vertically center on slider */
        left: 50%;            /* horizontal center; adjust as needed */
        transform: translate(-50%, -45%);
        font-size: 0.5em;
        color: rgb(188, 188, 188); /* base color */
        mix-blend-mode: difference; /* inverts color relative to background */
        opacity: 0.9;
        //so that click go trhough it
        pointer-events: none;
      }
    }
  }
}