.node-container {
  min-height: 20px; //min now that we can hid title and content
  min-width: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 0px;
  padding: 4px;
  padding-top: 12px;
  position: relative;
}

.resizinghandle {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 3px;
  bottom: -1px;
  right: -1px;
  margin: 0;
  border: 0px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: invert(100%);
  -webkit-backdrop-filter: invert(100%); /* pour Safari */
  cursor: nwse-resize;
  pointer-events: auto; 
}

.node-container .title-area{
  width: 100%;
  box-sizing: border-box;

  padding: 0px; margin: 0px; border: none;
  margin-bottom: 2px;

  border-radius: 3px;  
  background-color: white;
  color: black;
  text-align: center;

}

.node-container .title-area:focus{
  outline: 1.5px solid rgba(0, 0, 0, 0.5);
}

app-node-menu {
  position: absolute; 
  z-index: +1;
}

app-node-text {
  padding: 0px; margin: 0px; border: none;
  overflow: hidden !important;
  display: flex;
  flex: 1;
 // border: 1px solid rgb(214, 24, 24);
}

