<!-- node.html -->
<div 
#nodeContainer
class="node-container" 
[style.border-top]="node.transparent ? '1px solid rgb(0, 0, 0, 0.1)' : 'null'"
[style.background-color]="getColor()"
[style.color]="node.color"
(mousedown)="onMouseDown($event)"
[style.position]="'absolute'"
[style.left.px]="node.x"
[style.top.px]="node.y"
[style.width.px]="node.width"
[style.height.px]="node.height">  

  <input 
  #titleArea
  pattern="[\x00-\x7F]*"
  [readonly]="node.locked"
  [style.border-top]="node.transparent ? '1px solid rgb(0, 0, 0, 0.1)' : 'null'"
  [class.locked]="node.locked"
  type="text" 
  [hidden]="node.titleMinimized" 
  placeholder="Title"  
  class="title-area"
  [value]="node.title"
  (mousedown)="null"
  (input)="updateTitle($event)">

  <app-node-text 
  [style.border-top]="node.transparent ? '1px solid rgb(0, 0, 0, 0.1)' : 'null'"

  [hidden]="node.contentMinimized" 
  #textArea 
  [node]="node"
  [contentLocked]="node.locked"
  [scale]="scale"/>

  <app-node-menu 
  #menu
  [hidden]="!menuVisible"
  [node]="node"
  [style.left.px]="menuX"
  [style.top.px]="menuY"
  (evNewChildNode)="onNewChildNode()"
  (evDeleteNode)="onDeleteCurrentNode()"
  (evMinimise)="onMinimise()"
  (evCloseMenu)="onCloseMenu()"
  (evEditHiddenTree)="onEditHiddenTree()">
  </app-node-menu>
  <div #resizinghandle class="resizinghandle" ></div>
</div>
