<map-header #mapHeader (csvWriteClicked)="writeCsv()" (csvUploadClicked)="uploadCsv()"/>
<input type="file" #fileInput accept=".csv,text/csv" style="display: none;" (change)="onFileSelected($event)">

<div class="map-of-nodes" #mapOfNodesContainer>
    <div #scalableContainerNode>          
        @for (node of nodesMapToArray; track node.id) 
        {
            @if(!hiddenNodeIds.includes(node.id))  
            {  
            <app-node 
                [node]="node"
                [scale]="scale"
                (evNewChildNode)="onNewChildNode($event)"
                (evDeleteNode)="onDeleteNode($event)">
            </app-node>    
            }                   
        }
    </div>             
    <svg > 
        <g #scalableContainerSVGLineAndPath>
        @for (node of nodesMapToArray; track node.id) 
        {
            @if(node.id != 0 && (!hiddenNodeIds.includes(node.id)))
            {       
                <line         
                [attr.x1]="getNdCenterXY(node).x"
                [attr.y1]="getNdCenterXY(node).y"
                [attr.x2]="getNdCenterXY(getParentNode(node)).x"
                [attr.y2]="getNdCenterXY(getParentNode(node)).y"
                [attr.stroke]="node.color" 
                stroke-width="2" />

                @if(!node.transparent && !getParentNode(node).transparent)
                { 
                    @for (i of iterationBezier; track i) {
                        <path
                        [attr.d]="generateBezierPaths(node)[i]"
                        [attr.fill]="node.color"                      
                        [attr.stroke]="node.color"
                        stroke-width="1"/>
                    }   
                } 
                @if(isLineLongEnoughToDisplayNodesTitles(node))
                { 
                    <path 
                    [attr.d]="getTriAndTitles(node)?.triPath"
                    fill="none" 
                    stroke="black" 
                    stroke-width="1"/>

                    <text
                    class="line-node-title"
                    [attr.x]="getTriAndTitles(node)?.titleChXY?.x"
                    [attr.y]="getTriAndTitles(node)?.titleChXY?.y"
                    [attr.transform]="getTriAndTitles(node)?.rotCh"
                    text-anchor="end"
                    dominant-baseline="baseline">
                    {{getParentNode(node).title}}
                    </text>

                    <text
                    class="line-node-title"
                    [attr.x]="getTriAndTitles(node)?.titlePaXY?.x"
                    [attr.y]="getTriAndTitles(node)?.titlePaXY?.y"
                    [attr.transform]="getTriAndTitles(node)?.rotPa"
                    text-anchor="start"
                    dominant-baseline="baseline">
                    {{node.title}}
                    </text>
                }
            }
        }    
        @empty {
            No items available
        }  
        </g>

    </svg>   
</div>


<!-- 
<circle r="2" [attr.cx]="getAnimChCoord(node).end.x" [attr.cy]="getAnimChCoord(node).end.y" stroke="red" stroke-width="1" fill="none"/>
                    
<circle r="1" [attr.cx]="getAnimChCoord(node).cPr.x"     [attr.cy]="getAnimChCoord(node).cPr.y"     stroke="red" stroke-width="1" fill="none"/>    
<polyline 
[attr.points]="
    `${getAnimChCoord(node).ctrl[0].x},${getAnimChCoord(node).ctrl[0].y} ` +
    `${getAnimChCoord(node).ctrl[1].x},${getAnimChCoord(node).ctrl[1].y} ` + 
    `${getAnimChCoord(node).ctrl[2].x},${getAnimChCoord(node).ctrl[2].y}`" 
    style="fill:none;stroke:red;stroke-width:0.5" />
                    
<circle r="0.5" [attr.cx]="getAnimChCoord(node).cGr.x"     [attr.cy]="getAnimChCoord(node).cGr.y"     stroke="red" stroke-width="1"fill="none"/>     
<polyline 
[attr.points]="
    `${getAnimChCoord(node).ctrl[4].x},${getAnimChCoord(node).ctrl[4].y} ` +
    `${getAnimChCoord(node).ctrl[5].x},${getAnimChCoord(node).ctrl[5].y} ` + 
    `${getAnimChCoord(node).ctrl[6].x},${getAnimChCoord(node).ctrl[6].y}`" 
    style="fill:none;stroke:red;stroke-width:1" />
    
    (evEditHiddenTree)="onEditHiddenTree($event)"
-->