<map-header #mapHeader (csvWriteClicked)="writeCsv()" (csvUploadClicked)="uploadCsv()"/>
<input type="file" #fileInput accept=".csv,text/csv" style="display: none;" (change)="onFileSelected($event)">

<div class="map-of-nodes" #mapOfNodesContainer>
    <div #scalableContainerNode>          
        @for (node of nodesMapToArray; track node.id) 
        {     
            <app-node 
                [node]="node"
                [scale]="scale"
                (createChildNode)="onNewChildNode($event)">
            </app-node>                      
        }
    </div>             
    <svg > 
        <g #scalableContainerSVGLineAndPath>
        @for (node of nodesMapToArray; track node.id) 
        {
            @if(node.id != 0)
            {       
                <line         
                    [attr.x1]="getNdCenterXY(node).x"
                    [attr.y1]="getNdCenterXY(node).y"
                    [attr.x2]="getNdCenterXY(getParentNode(node)).x"
                    [attr.y2]="getNdCenterXY(getParentNode(node)).y"
                    [attr.stroke]="node.color" 
                    stroke-width="2" />

                @for (i of iterationBezier; track i) {
                    <path
                        [attr.d]="generateBezierPaths(node)[i]"
                        [attr.fill]="node.color"
                        fill-rule="evenodd"
                        [attr.stroke]="node.color"
                        stroke-width="2"
                        />
                }
            }
        }    
        @empty {
        No items available
        }
        </g>
    </svg>   
</div>


    <!-- 
        <path [attr.d]="`M 100,200 C 200,200 200,100 300,100`" stroke="blue" stroke-width="1" fill="transparent"/>

        <line x1="100" y1="100" x2="850" y2="100" style="stroke:red;stroke-width:1" />
        <circle r="100" cx="100" cy="100" fill="gray" stroke="black" stroke-width="1" opacity="0.5" />
        <circle r="112" cx="100" cy="100" fill="none" stroke="black" stroke-width="1" opacity="0.5" />
        <rect x="0" y="0" width="200" height="200"
            fill="none"
            stroke="black"
            stroke-width="1" />
    -->