map-header, svg, .map-of-nodes {
  position: fixed;
  top: 0;
  left: 0;
}
map-header{
  width: 100vw;
  z-index: +4 !important;
  background-color: rgba(255, 255, 255, 0.2);
} 
map-of-nodes {
  width: 100vw;
  height: 100vh;
}
app-node{
  z-index: +2 !important;
}
svg {
  width: 100vw;
  height: 100vh;
  z-index: -1 !important;
}



