
ul {
  display: inline-block;  
  background: white;
  color: black ;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  right: 100%; 
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  margin-right: 5px;
}

li {
  padding: 8px 10px;
  cursor: pointer;
  border-top: 1px solid rgb(0, 0, 0, 0.1)
}

li:hover:not(.unclickable) {
  background-color: #eee;
}

.headerMenu.hidden {
  display: none ;
}