ul {
  display: inline-block;
  background: white;
  color: black;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  list-style: none;
  margin: 5px 5px 0 0;
  padding: 0;
}

li {
  display: block;                 /* force one per line */
  padding: 8px 10px;
  cursor: pointer;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  /* remove white-space: nowrap here */
}

.li-flex {
  display: flex;                  /* flex inside the li */
  align-items: center;
  gap: 4px;
}

.li-flex .nb-input {
  flex: 0 0 auto;
  width: auto;
  min-width: 0;
  max-height: 25px;
  padding: 0;
  font-size: 0.8rem;
}


.popup-tree {
position: fixed;
width: 200px; /* Fixed width */
height: 300px; /* Fixed height */
max-width: 100vw; /* Don't exceed viewport */
max-height: 80vh;
background: white;
border-radius: 8px;
box-shadow: 0 10px 30px rgba(0,0,0,0.5);
z-index: 5;
padding: 10px;
display: flex;
flex-direction: column;

  .close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.2em;
  background: #000000;
  color: white;
  border: none;
  width: 24px;
  height: 24px;
  //border-radius: 50%;
  cursor: pointer;
  }

  .tree-txt {
  flex: 1; /* Take all available space */
  overflow: auto; /* Scrollbars when needed */
  white-space: pre; /* Preserve \n and spaces */
  color: black;
  font-family: monospace;
  line-height: 1.4;
  }
}