//“If the host element has the hidden attribute, don’t display it.”
:host([hidden]) {
  display: none !important;
}

.text-area {
  width: 100%;
  height: 100% ;
  padding: 0px; margin: 0px; border: none;
  border-radius: 3px;
  color: black;
  //white-space: pre-wrap;
  //border: 1px solid rgb(202, 173, 68);
  background-color: white;

  overflow: auto !important;

  ::ng-deep { //necessary to re-inject the style after because it overrides my style otehrwise

    .tiptap {
      overflow-y: auto; //if you dont do that the ProveMirro div wont budge from his initial size after oberflow occur
      height: 100% ;
      box-sizing: border-box;
      padding: 2px; margin: 0px; border: none;
      font-size: 12px;

      > :first-child {
        margin-top: 0; 
      }   
      > :last-child {
        margin-bottom: 0;    
      }
    }
  }
}

.locked {
  filter: brightness(80%);
}