
/*.tiptop:focus, p:focus {
  outline: none;
  padding: 0px; margin: 0px; border: none;
}

p:first-child {
  margin-top: 0;
}*/

.text-area {
  width: 100%;
  height: 100% ;
  padding: 0px; margin: 0px; border: none;
  border-radius: 3px;
  color: black;
  white-space: pre-wrap;
  //border: 1px solid rgb(202, 173, 68);
  background-color: white;

  overflow: auto !important;

  ::ng-deep { //necessary to re-inject the style after because it overrides my style otehrwise
    .tiptap {
      height: 100% ;
      padding: 0px; margin: 0px; border: none;
      > :first-child {
        margin-top: 0; 
      }   
      > :last-child {
        margin-bottom: 0;    
      }
    }
  }
}

